# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
*.egg-info/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# AWS
.aws/
credentials

# Environment variables
.env
*.env

# Docker
.dockerignore

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/